{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="listings">
        {% for listing in Listings %}
        <div class="listing">
            <a href="{% url 'listing' listing.id%}"><h2>{{listing.title}}</h2></a>
            <h6>{{listing.created_at}}</h6>
            <p>{{listing.description}}</p>
            <h3>{{listing.current_price}}</h3>
            <img src="{{listing.image_url}}">
        </div>
        {%endfor%}
    </div>
{% endblock %}