{% extends "auctions/layout.html" %}

{% block body %}
    <div>
        {% if user.is_authenticated %}
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            {% if watchlisted %}
            <input type="submit" value="Remove form Watchlist" name="toggle_watchlist">
            {% else %}
            <input type="submit" value="Add to Watchlist" name="toggle_watchlist">
            {% endif %}
        </form>
        {% endif %}
        <a><h2>{{listing.title}}</h2></a>
        <h6>{{listing.created_at}}</h6>
        <p>{{listing.description}}</p>
        <p>{{listing.catergory}}</p>
        <h3>{{listing.current_price}}</h3>
        <img src="{{listing.image_url}}">
    </div>
    {% if user.is_authenticated %}
    <div>
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %} 
            <h5>place your bid:</h5>
            <div class="form-group">
             <input type="number" step="1"   name="placed_bid" required min="{{listing.current_price}}">
             <input type="submit" value="submit_bid">
            </div>
        </form>
    </div>
    <div>
        <form action="{% url 'listing' listing.id %}" method = "post">
            {% csrf_token %} 
            <p>add comment:</p>
            <input type="text" name="comment" required>
            <button type="submit"></button>"
        </form>
        <div>
            {% for comment in comments %}
            <div>
                   <strong>{{comment.owner}}  {{comment.posted_at}}</strong>
                   <p>{{comment.content}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}